/*
The website must also take into consideration mobile devices with displays of different sizes.
For the website, 3 groups of screens are taken into account.
*/

/*
Devices with screens of up to 520px
*/
@media only screen
and (max-width : 520px) {
    html {
        width: 300px;
    }
    #admin_profile {
        width: 100%;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px dotted silver;
    }
    .flex-row-2 > * {
        flex: 1 1 calc(100%);
    }
}

/*
Devices with screens of between 520px and 1024px.
Gallery shows two pictures pro row.
The news sections is placed bellow the gallery
*/
@media only screen
and (min-width : 520px)
and (max-width : 1024px) {
    html {
        width: 520px;
    }
    #admin_profile {
        width: 100%;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px dotted silver;
    }
    .flex-row-2 > * {
        flex: 1 1 calc(100%);
    }
}

/* Desktops and laptops with screens of 1024px or greater*/
@media only screen
and (min-width : 1024px) {
    html {
        width: 1024px;
    }
    #header {
        width: 780px;
    }
    #admin_profile {
        width: 230px;
    }
    #menu ul li {
        display: inline-block;
    }
    .flex-row-2 > * {
        flex: 1 1 calc(100% / 2 - 1.5rem);
    }
}

html {
    margin: 0 auto;
    font-size: 14px;
    font-family: Arial, serif;
    color: #333333;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}

a, a:link, a:visited {
    color: #049ECF;
    text-decoration: underline;
    font-size: 1em;
}
a:hover {
    text-decoration: none;
}

::placeholder { /* Firefox, Chrome, Opera */
    opacity: 0.5;
    color: gray;
    font-size: 12px;
}
input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field,
input[type="date"]::-webkit-inner-spin-button {
    opacity: 0.5;
    color: gray;
    font-size: 12px;
}

/*
The header contains menu.
*/
header {
    background-color: #ffffff;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #000000;
}
header > div {
    display: inline-block;
}

#admin_profile {
    display: inline-block;
}
#admin_profile img {
    border: 1px dotted silver;
}
#admin_profile p {
    margin: 5px 0;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu ul li {
    margin: 0;
    padding: 0 10px 0 0;
}
#menu .active {
    text-decoration: none;
    color: black;
}

.flex-row-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#info-form fieldset {
    background-color: #FBFBFB;
    padding: 16px;
    border: 1px dotted #C0C0C0;
    margin-bottom: 10px;
    border-radius: 3px;
}

#info-form fieldset legend {
    padding: 0 10px;
}
#info-form fieldset label {
    width: 100%;
    display: inline-block;
    margin: 10px 0 5px 0;
}

#info-form input,
#info-form textarea,
#info-form select {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
}

/*
Styles for generic footer
*/
footer {
    font-size: 0.8em;
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px dotted #000000;
}